@font-face {
    font-family: 'Pokemon';
    src: url(./fonts/power\ red\ and\ blue.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Pokemon';
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #5a5858;
    height: 100px;
}

.main-section {
    display: flex;
    height: 60svh;
    width: 100%;
    background-color: #5a5858;
    justify-content: center;
    align-items: center;
}

.wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 285px;
}

.wave .shape-fill {
    fill: #5A5858;
}

.title-reader{
    margin: 10px;
}

.bottom-waves {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.bottom-waves svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 180px;
}

.bottom-waves .shape-fill {
    fill: #5A5858;
}

.spacer {
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer1 {
    background-image: url(./images/wave.svg);
}

.logo {
    font: bold;
}

.logo-secondary {
    color: blueviolet;
}

.middlePage-text {
    text-align: center;
    padding: 20px;
    font-size: 2rem;
    width: 800px;
}

.app-container {
    height: 100svh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    transition: 1s;
    position: relative;
}


.btn-send{
    padding: 10px;
    width: 70px;
    font-size: 1.1rem;
    background-color: transparent;
    cursor: pointer;
    z-index: 1;
    transition: 0.5s ease-in-out ;
}

.btn-send:hover{
    background-color: #5A5858;
    color: white;
    transform: scale(1.2);
}

.btn-send:disabled:hover {
    background-color: #ccc; /* Mantém a mesma cor de fundo quando desativado */
    color: #666; /* Mantém a mesma cor do texto quando desativado */
    transform: none; /* Garante que nenhuma transformação é aplicada */
}


.middle-container {
    width: 300px;
    height: 400px;
    border: solid black 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

}


nav{
    display: flex;
    gap: 20px;
}
nav > a{
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: violet;
    transition: 0.5s ease-in-out;
}

nav > a:hover{
    color: white;
    transform: scale(1.1);
}



.input-chat {
    width: 200px;
    height: 30px;
    padding: 10px;
}

.result {
    max-width: 200px;
    min-width: 200px;
    min-height: 200px;
    max-height: 200px;
    text-align: center;
    padding: 5px;
}