@font-face {
    font-family: 'Pokemon';
    src: url(./fonts/power\ red\ and\ blue.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Pokemon';
}

html {
    scroll-behavior: smooth;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #5a5858;
    height: 100px;
}

.main-section {
    display: flex;
    height: 60svh;
    width: 100%;
    background-color: #5a5858;
    justify-content: center;
    align-items: center;
}

.title-link {
    text-decoration: none;
}

.wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 285px;
}

.wave .shape-fill {
    fill: #5A5858;
}

.title-reader {
    margin: 10px;
}

.bottom-waves {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.bottom-waves svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 180px;
}

.bottom-waves .shape-fill {
    fill: #5A5858;
}

.spacer {
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer1 {
    background-image: url(./images/wave.svg);
}

.logo {
    font: bold;
}

.logo-secondary {
    color: blueviolet;
}

.middlePage-text {
    text-align: center;
    padding: 20px;
    font-size: 2rem;
    width: 800px;
    color: white;
}

.app-container {
    height: 100svh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    transition: 1s;
    position: relative;
}


.btn-send {
    padding: 10px;
    width: 70px;
    font-size: 1.1rem;
    background-color: transparent;
    cursor: pointer;
    z-index: 1;
    transition: 0.5s ease-in-out;
}

.btn-send:hover {
    background-color: #5A5858;
    color: white;
    transform: scale(1.2);
}

.btn-send:disabled:hover {
    background-color: #ccc;
    color: #666;
    transform: none;

}


.middle-container {
    width: 300px;
    height: 400px;
    border: solid black 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

}


nav {
    display: flex;
    gap: 20px;
}

nav>a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: violet;
    transition: 0.5s ease-in-out;
}

nav>a:hover {
    color: white;
    transform: scale(1.1);
}

footer {
    background-color: #5A5858;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
    margin-top: auto;
}


.footer-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
}

.footer-nav a {
    color: #fff;
    text-decoration: none;
    margin: 5px 0;
}

.top {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: black;
    background-color: white;
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: solid 1px black;
    z-index: 3;
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
}

.top.active {
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}

.arrow {
    height: 30px;
    width: 30px;
}



.input-chat {
    width: 200px;
    height: 30px;
    padding: 10px;
}

.result {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    text-align: center;
    padding: 5px;
    border: black 1px solid;
    background-color: white;

}

.letter {
    font-weight: bold;
    margin: 0 0.2rem;
    display: inline-block;
    animation: float 1.6s ease-in-out infinite;
    text-shadow: 1px 1px black;
}

#letterS {
    color: #5E8CDC
}

#letterE {
    color: #4DFFFC
}

#letterN {
    color: #FFED4D
}

#letterT {
    color: #d019d0
}

#letterI {
    color: #4DFF77
}


@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    .middlePage-text {
        font-size: 1.5rem;
    }

    .app-container {
        height: 155svh;
    }
}